@model IEnumerable<Category>

<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        @foreach (var category in Model)
        {
            <li><a href="@Url.Action("FilmsList", "Films", new { categoryName = category.Name })">@category.Name</a></li>
        }
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
</div>